.new-post {
  height: calc(100vh - 50px);
  background-color: white;
  h1 {
    text-align: center;
    margin: 25px 0;
  }
  select {
    width: 100%;
    margin-bottom: 14px;
    margin-bottom: 1.4rem;
  }
}
 textarea {
   resize: none !important;
   margin-bottom: 14px;
   margin-bottom: 1.4rem;
 }