<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <%= render 'pages/partials/side_menu' %>
    <%= render 'pages/partials/main_content' %>
  </div><!-- row -->
</div><!-- container -->