<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-collapsible-content">
  <ul class="navbar-nav ml-auto">
    <%= render collapsible_links_partial_path %>
  </ul>
</div><!-- navbar-collapse -->