<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-brand mb-0 h1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to 'COLLABFIELD', root_path, class: 'navbar-brand' %>
</div>
